<h1>Instructions for the assignment</h1><br>
In this assignment you will be using Boston House Price Dataset (https://www.kaggle.com/c/boston-housing) to train a model to predict house prices based on some input features. 

As you can see, Linear Regression implementation using sklearn has already been done, but its not giving good results.<br>
The aim of the assignment is -<br>
*To understand the general 'flow' of machine learning*<br>
*To learn about concepts like linear regression, decision tree regression , cross_validation ,hyperparameter tuning and r2_score*<br>

Tasks:<br>
1) Run all the cells while trying to understand the flow. Try to increase the final r2_score<br>
2) Use sklearn documentation to learn about Decision Tree Regressor, use the same flow and train a decision tree regressor model<br>
3) Perform hyperparameter tuning (learn about it) on decision tree model to achieve better results ( ~0.95 r2_score)<br>
**Tip - After modifying the model, rerun the cells from the train_test_split itself.**<br>
4) Use any multivariate regression dataset from https://archive.ics.uci.edu/ml/index.php (UC Irvine Machine Learning Repository) and build linear regression as well as decision tree regressor models and perform hyper parameter tuning to maximise the r2_score. <br>
5) Additional readings - overfitting, r2_score, decision tree<br>

In [1]:
from sklearn.linear_model import LinearRegression #Change
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import numpy as np
import pandas as pd

In [2]:
df = load_boston()
print(df.keys())

dict_keys(['data', 'target', 'feature_names', 'DESCR'])

In [3]:
X = pd.DataFrame(df.data)
y = pd.DataFrame(df.target)

<h2>Analysing the data</h2>

In [5]:
num_rows = len(X)
print(num_rows)

506

In [4]:
boston = pd.DataFrame(df.data, columns=df.feature_names)
boston.head() # top 5 rows of features

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [236]:
y.head() # Top 5 rows of target variables

      0
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [237]:
y.describe() # Statistical analysis on data

                0
count  506.000000
mean    22.532806
std      9.197104
min      5.000000
25%     17.025000
50%     21.200000
75%     25.000000
max     50.000000

In [9]:
data = pd.concat([X,y], axis = 1) # Concatenating X and y into single dataframe

In [240]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,0
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

<h3> Splitting data into training and testing for cross-validation </h3>

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X,y,shuffle=True)

<h3> Training the model</h3>

In [6]:
model = LinearRegression() # Do the hyperparameter tuning here
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [7]:
predictions = model.predict(X_test)

<h3> Testing the model on unseen data (test data) for generalisation of model </h3>

In [11]:
print(r2_score(predictions, y_test))

0.7061517509680661

In [11]:
#hyper tuning
from sklearn.ensemble import GradientBoostingRegressor

clf = GradientBoostingRegressor()
clf.fit(X_train, y_train.values.ravel())

predicted = clf.predict(X_test)

In [15]:
print(r2_score(predicted, y_test))

0.8733235123956093

In [9]:

from sklearn.tree import DecisionTreeRegressor   #DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.datasets import load_boston
boston=load_boston()
regressor=DecisionTreeRegressor()
p=cross_val_score(regressor,boston.data,boston.target,cv=10)
regressor

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [10]:
train_x,test_x,train_y,test_y=train_test_split(X,y,shuffle=True)
regressor.fit(train_x,train_y)
pred=regressor.predict(test_x)
r2_score(pred,test_y)

0.8336818816576651

In [11]:
regressor =  DecisionTreeRegressor(max_depth=5,random_state=0)
regressor.fit(train_x,train_y)
pred=regressor.predict(test_x)
r2_score(pred,test_y)

0.612368562110299

In [12]:
regressor=DecisionTreeRegressor(criterion='mse',max_depth=4,max_features=8,max_leaf_nodes=12,min_samples_split=10)
train_x,test_x,train_y,test_y=train_test_split(X,y,shuffle=True)
regressor.fit(train_x,train_y)
pred=regressor.predict(test_x)
r2_score(pred,test_y)

0.5585572182222245

In [13]:
from sklearn.metrics import mean_squared_error 
mean_squared_error(test_y, pred)

30.788720193418598

In [14]:
pred1=regressor.predict(train_x)
mean_squared_error(train_y,pred1)

9.683756463462892

In [15]:
r2_score(pred1,train_y)

0.8739675149062174