In [ ]:
LINEAR REGRESSION:-

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv(r'C:\Users\ASUS\Downloads\headbrain.csv')
print(data.shape)
data.head()

(237, 4)

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [3]:
X = data['Head Size(cm^3)'].values
Y = data['Brain Weight(grams)'].values

In [4]:
# Mean X and Y
mean_x = np.mean(X)
mean_y = np.mean(Y)

# Total number of values
m = len(X)

# Using the formula to calculate b1 and b2
numer = 0
denom = 0
for i in range(m):
    numer += (X[i] - mean_x) * (Y[i] - mean_y)
    denom += (X[i] - mean_x) ** 2
b1 = numer / denom
b0 = mean_y - (b1 * mean_x)

# Print coefficients
print(b1, b0)

0.26342933948939945 325.57342104944223

In [5]:
#BrainWeight=325.573421049+0.263429339489âˆ—HeadSize.
#this is our linear model.

In [8]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()
x=data[['Head Size(cm^3)']]   #importance of brackets
y=data['Brain Weight(grams)']
lm.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [9]:
print(
lm.intercept_)

325.5734210494428

In [10]:
print(lm.predict(x))

[1514.16660083 1310.27229206 1448.04583661 1320.5460363  1425.9177721
 1269.96760312 1322.65347102 1263.11844029 1277.34362462 1374.5490509
 1232.56063691 1377.44677363 1284.45621679 1434.08408162 1335.03464997
 1346.62554091 1246.78582124 1238.61951172 1140.88722677 1490.98481895
 1347.15239959 1391.40852862 1327.65862847 1302.89627056 1576.07249561
 1490.72138961 1388.77423523 1385.08622448 1235.45835965 1425.39091342
 1323.1803297  1325.55119375 1406.42400097 1421.70290266 1420.91261465
 1330.29292186 1254.68870143 1312.90658546 1203.84683891 1245.46867455
 1369.28046411 1248.89325596 1462.27102095 1327.65862847 1343.2009595
 1388.24737655 1460.42701557 1159.32728053 1284.71964613 1285.50993415
 1350.576981   1324.76090573 1450.41670067 1395.88682739 1382.45193108
 1236.512077   1350.31355166 1423.02004936 1362.16787194 1292.09566764
 1343.99124752 1219.38916994 1495.72654706 1445.9384019  1307.37456933
 1202.52969221 1225.18461541 1213.85715381 1492.56539499 1479.65735735
 1381.39821372 1341.8838128  1411.16572909 1394.30625136 1332.92721526
 1219.65259928 1262.85501095 1211.22286041 1360.85072524 1335.82493799
 1334.50779129 1341.35695412 1181.45534505 1267.8601684  1361.64101326
 1339.77637808 1197.26110542 1222.81375135 1249.1566853  1354.79185043
 1421.43947333 1199.63196948 1290.25166226 1352.68441572 1300.26197716
 1321.07289498 1240.4635171  1244.94181587 1288.14422754 1241.78066379
 1246.25896256 1335.56150865 1346.62554091 1289.98823292 1278.66077132
 1286.56365151 1387.72051787 1220.96974597 1357.16271449 1492.56539499
 1298.94483046 1253.89841341 1266.27959237 1272.33846717 1216.75487654
 1247.31267992 1271.02132048 1352.94784506 1409.32172371 1362.69473062
 1220.96974597 1431.9766469  1507.84429668 1277.60705396 1392.72567532
 1321.863183   1218.86231126 1148.52667761 1393.252534   1269.1773151
 1291.30537962 1256.00584813 1391.40852862 1291.56880896 1078.19104397
 1230.71663154 1324.23404705 1195.41710004 1143.25809082 1160.90785657
 1266.54302171 1255.47898945 1161.96157393 1231.24349021 1353.73813308
 1352.68441572 1221.49660465 1186.19707316 1234.66807163 1139.57008007
 1224.65775673 1200.94911617 1294.99339037 1231.50691955 1340.5666661
 1156.95641648 1189.35822524 1302.10598254 1380.87135504 1186.72393184
 1134.56492262 1321.07289498 1260.22071756 1192.78280665 1246.78582124
 1137.46264536 1181.19191571 1210.16914305 1327.39519913 1264.96244567
 1154.05869374 1248.36639728 1266.27959237 1306.58428131 1277.8704833
 1169.33759543 1276.28990727 1263.64529897 1373.75876288 1256.26927747
 1297.36425443 1157.48327516 1380.6079257  1163.54214997 1242.04409313
 1284.98307547 1282.34878207 1134.03806394 1219.65259928 1301.05226518
 1159.32728053 1209.1154257  1115.86143952 1296.83739575 1262.32815227
 1056.06297945 1131.14034121 1206.4811323  1245.73210389 1194.09995335
 1210.69600173 1175.92332892 1188.83136656 1340.03980742 1133.51120526
 1298.15454244 1221.76003399 1377.97363231 1199.63196948 1042.10122446
 1099.26539113 1268.65045642 1099.79224981 1112.96371678 1270.23103246
 1156.95641648 1180.66505703 1160.64442723 1186.4605025  1218.33545258
 1216.22801786 1080.03504935 1310.79915074 1242.04409313 1286.30022217
 1304.47684659 1190.67537193 1433.03036426 1309.48200404 1173.28903553
 1296.31053707 1301.31569452 1172.23531817 1219.65259928 1177.24047562
 1208.58856702 1218.86231126]

In [ ]:
MULTIPLE  REGRESSION:-

In [17]:

data = pd.read_csv(r'C:\Users\ASUS\Downloads\regrex3.csv')
print(data.shape)
data.head()

(100, 8)

   Obs no.       x1       x2       y1       y2       y3       y4        y5
0        1  17.6403  39.2009  13.9218  13.3960  13.9597  12.6844   99.4237
1        2   9.3786  20.2735   3.1704   2.5463   3.5158   3.3700   47.8476
2        3  20.0313  33.7959  16.6045  16.7703  16.6909  15.9766   89.1535
3        4  23.4556  48.6115  23.3931  22.7679  23.2650  22.0821  143.1316
4        5  24.4938  47.3454  22.5413  23.6277  22.5428  23.2443  124.6998

In [12]:
data.describe()

,Obs no.,x1,x2,y1,y2,y3,y4,y5
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,50.500000,14.075044,28.467680,9.513211,9.513172,9.473106,9.715962,73.884417
std,29.011492,7.230464,15.274361,8.820457,8.807427,8.909002,8.027720,37.601818
min,1.000000,0.207600,-9.794300,-7.580500,-6.738700,-7.735300,-2.097400,-8.454600
25%,25.750000,7.688750,16.850350,2.104500,2.580050,1.760575,2.255725,45.818050
50%,50.500000,15.151150,27.545900,10.098200,10.001750,10.486750,9.482550,76.445850
75%,75.250000,20.446950,40.138325,17.262825,16.818675,17.125525,16.588375,102.689525
max,100.000000,24.952500,63.861200,24.217300,24.459400,24.167900,24.217300,150.621100

In [20]:
data=data[["y1","y2","y3","y4","y5","x1"]]
data.head()

        y1       y2       y3       y4        y5       x1
0  13.9218  13.3960  13.9597  12.6844   99.4237  17.6403
1   3.1704   2.5463   3.5158   3.3700   47.8476   9.3786
2  16.6045  16.7703  16.6909  15.9766   89.1535  20.0313
3  23.3931  22.7679  23.2650  22.0821  143.1316  23.4556
4  22.5413  23.6277  22.5428  23.2443  124.6998  24.4938

In [19]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()
X=data[["y1","y2","y3","y4","y5"]]
y=data[['x1']]
lm.fit(X,y)
print(lm.coef_)
print(lm.intercept_)

[[-0.58825771  0.03177826  1.31981202  0.07195786 -0.00606284]]
[6.61504193]

In [21]:
def computeCost(X, y, theta):
    inner = np.power(((X * theta.T) - y), 2)
    return np.sum(inner) / (2 * len(X))

In [22]:
def gradientDescent(X, y, theta, alpha, iters):
    temp = np.matrix(np.zeros(theta.shape))
    parameters = int(theta.ravel().shape[1])
    cost = np.zeros(iters)
    
    for i in range(iters):
        error = (X * theta.T) - y
        
        for j in range(parameters):
            term = np.multiply(error, X[:,j])
            temp[0,j] = theta[0,j] - ((alpha / len(X)) * np.sum(term))
            
        theta = temp
        cost[i] = computeCost(X, y, theta)
        
    return theta, cost

In [23]:
data.insert(0, 'Ones', 1)

In [27]:
alpha = 0.01
iters = 1000

In [28]:
cols = data.shape[1]
X = data.iloc[:,0:cols-1]
y = data.iloc[:,cols-1:cols]

# convert to matrices and initialize theta
X = np.matrix(X.values)
y = np.matrix(y.values)
theta2 = np.matrix(np.array([0,0,0]))

# perform linear regression on the data set
g2, cost2 = gradientDescent(X, y, theta2, alpha, iters)

# get the cost (error) of the model
computeCost(X, y, g2)

ValueError: shapes (100,6) and (3,1) not aligned: 6 (dim 1) != 3 (dim 0)